@use '../abstracts/variables' as *;

.content-tag {
    background-color: $primaryColor;
    width: 250px;
    height: 60px;
    position: absolute;
    left: 0;
    top: -30px;
}

.main-grid {
    background-color: $secondaryColor;
    .container {
        padding-top: 3rem;
        padding-bottom: 3rem;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        div {
            flex: 0 0 16%;
            word-wrap: anywhere;
        }
    }
}
.main-banner {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    text-align: center;
    background-color: $primaryColor;
    .container {
        display: flex;
        justify-content: space-between;
    }
    .banner {
        display: flex;
        align-items: center;
    }
    div {
        display: inline-block;
    }
    img {
        width: 4rem;
        height: 5rem;
        object-fit: contain;
    }
}
